body {
    background-color: 	#424549;
}

.MainCardContainer {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 2%;

    background: #1e2124;
    border-radius: 15px;
}

.MemberCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px 0px;
    margin-bottom: 24px;
}

.TimerCard {
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 18%;
    padding: 2%;
    width: 60%;
    background: #FFFFFF;
    border-radius: 45px;
    text-align: center;
}

.TimerText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    color: #7289da;
}

.MemberCard {
    width: 70%;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: left;
    padding: 16px;
    font-weight: 400;
}

